@import url(./reset.css);

body {
  background-color: #1d1d1d;
  overflow-x: hidden;
}

.wrap {
  overflow-x: hidden;
}

section {
  padding-top: 35vh;
  /* border: 1px solid white; */
  position: relative;
}

/* ############## */

header {
  height: 60px;
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  background-color: #1d1d1d60;
  backdrop-filter: blur(10px);
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.global_nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global_nav li {
  margin-left: 30px;
}

body.header_fix header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #555;
}
/* header */

.section_0 {
  display: flex;
  justify-content: center;
}

.section_0 .title {
  font-size: 130px;
  font-weight: 700;
  letter-spacing: -5px;
}

.fix_title {
  width: 100%;
  position: fixed;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  display: none;
  left: 0;
  top: 40vh;
  opacity: 0;
}

#view_section_0 .section_0 .fix_title,
#view_section_1 .section_1 .fix_canvas canvas {
  display: block;
}

.fix_canvas {
  height: 100%;
  top: 0;
}

.fix_canvas .canvas_1 {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}

.section_2 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background-color: #1d1d1d;
}

.section_2 .title {
  width: 2000px;
  /* width: 100%; */
  font-size: 170px;
  font-weight: 700;
  /* padding-bottom: 200px; */

  text-transform: uppercase;
  letter-spacing: -5px;
  display: none;
}

.section_2 .title.fix {
  position: fixed;
  top: 70vh;
  left: 0;
  display: block;
}

.canvas_2.img_fix {
  position: fixed;
  top: 0;
  z-index: 9;
}

/* .canvas_2 {
  display: none;
} */

.section_3 .title {
  text-align: center;
  font-size: 120px;
  font-weight: 700;
  margin-top: 30vh;
}

#view_section_3 .section_3 .fix_box {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 30vh;
  left: 0;
}

.fix_box {
  display: none;
}

.fix_box .con {
  width: 30%;
  height: 60vh;
  background-color: #555;
}

.fix_box .con:not(.con_3) {
  margin-right: 4%;
}

.con_1 {
  transform: translate3d(0, 70px, 0) rotateZ(0deg);
  transform-origin: 0 100%;
}

.con_2 {
  transform: translate3d(0, -70px, 0);
}

.con_3 {
  transform: translate3d(0, 70px, 0) rotateZ(0deg);
  transform-origin: 100% 100%;
}

/* ########### */

@media screen and (min-width: 1024px) {
}
